@using Webshop.Models.BaseModels;
@model List<Item>
@{
    ViewBag.Title = "Index";
}

<h2>Webshop</h2>
<hr />
<br />

<div class="col-lg-12">
    <div class="col-lg-12">
        <form action="/Home/FilterItems" method="post">
            <select name="id">
                @foreach (var category in (ViewBag.Categories as List<Category>))
                {
                    <option value="@category.ID">@category.Name</option>
                }
            </select>
            <input type="submit" value="Search" />
        </form>
    </div>
    <div class="col-lg-12">
        <div class="row">
            @foreach (var item in Model)
            {
                <a href="#">
                    <div class="col-lg-3">
                        <div>
                            @item.Name
                        </div>
                        <div>
                            <img src="~/Content/Images/Items/@item.Image" class="img-responsive" />
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>
